@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .card-summary {
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        transition: 0.2s;
    }

        .card-summary:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        }

        .card-summary h5 {
            color: #6c757d;
            font-size: 1rem;
        }

        .card-summary h3 {
            color: #FF6F3C;
            font-weight: bold;
        }
</style>
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card card-summary text-center">
            <div class="card-body">
                <div class="card-head ">
                    <div class="card-title ">TOTAL CUSTOMERS</div>
                </div>
                <div class="card-value">5</div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-summary text-center">
            <div class="card-body">
                <div class="card-head">
                <div class="card-title">ACTIVE STORES</div>
            </div>
            <div class="card-value">0</div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-summary text-center">
            <div class="card-body">
                <div class="card-head">
                    <div class="card-title">PENDING ORDERS</div>
                </div>
                <div class="card-value">0</div>

            </div>
        </div>
    </div>
    <div class="col-md-4 pt-5">
        <div class="card card-summary text-center">
            <div class="card-body">
                <div class="card-head">
                    <div class="card-title">FOOD PICKUP</div>
                </div>
                <div class="card-value">0</div>

            </div>
        </div>
    </div>
    <div class="col-md-4 pt-5">
        <div class="card card-summary text-center">
            <div class="card-body">
                <div class="card-head">
                    <div class="card-title">TOTAL FOOD DELIVER</div>
                </div>
                <div class="card-value">1</div>

            </div>
        </div>
    </div>
    
</div>
    
