
<div class="store-sidebar">
    <h2>Admin</h2>
    <ul class="sidebar-menu">
        <li>
            <a asp-controller="Home" asp-action="AdminDashboard">

                🏠 Dashboard
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Users">

                🏠 Users
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Stores">

                📦 StoreManagers
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="AdminInventory">
      

                🛒 Inventory
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Report">

                📊 Reports
            </a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Settings">⚙ Settings</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="SignIn">🚪 Log Out</a>
            </a>
        </li>

    </ul>


</div>


