@{
    ViewData["Title"] = "Order Success";
}

<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-0 shadow-lg p-5" style="border-radius: 30px;">

                <div class="success-checkmark mb-4">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div>

                <h2 class="fw-bold mb-3">Order Placed <span class="text-orange">Successfully!</span></h2>
                <p class="text-muted fs-5 mb-4">
                    Thank you for your order! We've received your request.
                </p>

                <div class="bg-light p-3 rounded-4 mb-4 border border-dashed">
                    <p class="mb-1 small text-uppercase fw-bold text-muted">Estimated Delivery</p>
                    <h5 class="fw-bold text-dark mb-0">30 - 45 Minutes</h5>
                </div>

                <div class="d-grid gap-3 d-sm-flex justify-content-center">
                    <a href="/User/MyOrders" class="btn btn-dark btn-lg rounded-pill px-4 fs-6">
                        <i class="fa fa-list-alt me-2"></i>View My Orders
                    </a>
                    <a href="/" class="btn btn-outline-orange btn-lg rounded-pill px-4 fs-6">
                        <i class="fa fa-shopping-bag me-2"></i>Keep Shopping
                    </a>
                </div>
            </div>

            <p class="mt-4 text-muted small">
                A confirmation email has been sent to your registered address.
            </p>
        </div>
    </div>
</div>

<style>
    .text-orange {
        color: #FF6B00;
    }

    .btn-outline-orange {
        color: #FF6B00;
        border: 2px solid #FF6B00;
        font-weight: 600;
        transition: all 0.3s;
    }

        .btn-outline-orange:hover {
            background-color: #FF6B00;
            color: white;
        }

    .border-dashed {
        border: 2px dashed #dee2e6 !important;
    }

    /* Success Checkmark Animation Styles */
    .success-checkmark {
        width: 80px;
        height: 115px;
        margin: 0 auto;
    }

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
    }

        .check-icon::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        .check-icon::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

    .icon-line {
        height: 5px;
        background-color: #4CAF50;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
    }

    .line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
    }

    .line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
    }

    .icon-circle {
        top: -4px;
        left: -4px;
        z-index: 10;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 4px solid rgba(76, 175, 80, 0.5);
        position: absolute;
        box-sizing: content-box;
    }

    @@keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }

        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }

        70% {
            width: 50px;
            left: -8px;
            top: 37px;
        }

        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }

        100% {
            width: 25px;
            left: 14px;
            top: 46px;
        }
    }

    @@keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }

        65% {
            width: 0;
            right: 46px;
            top: 54px;
        }

        84% {
            width: 55px;
            right: 0px;
            top: 35px;
        }

        100% {
            width: 47px;
            right: 8px;
            top: 38px;
        }
    }
</style>