/* Ensure the card fills the column but stays centered */
/*.product-card {
    width: 100%;
    max-width: 100px;*/ /* Limits how wide it can get on huge screens */
    /*background: #fff;
    transition: 0.3s;
}*/

/* Force the image box to be a consistent height */
/*.product-img-box {
    position: relative;
    width: 10%;
    height: 20px;*/ /* Control the height here */
    /*overflow: hidden;
    border-radius: 10px;
}

    .product-img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;*/ /* This makes the image fill the box without stretching */
    /*}*/
